.todo-container{
    width: 300px;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; */
    
    
    
}
/* .todo-header{

} */

.bor{
    border: 1px solid red;
    
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-btn{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}
.todo-item-text{
    margin-left: 5  px;
}